# Output folder
out/*

# Video folder
video/*

# Out graph files
python_graph_scripts/*.png

# VsCode settings
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix